.first-color { 
	background: #827055; 
}
	
.second-color { 
	background: #a79e8b; 
}

.third-color { 
	background: #d4ceb0; 
}

.fourth-color { 
	background: #ede7cf; 
}

.menu-container {
	color: black;
	background-color: #ede7cf;  /* Blue */
	display: flex;
	justify-content: center;
  }
  
  .menu {
	border: 1px solid #a79e8b;  /* For debugging */
	width: 400px;
	display: flex;
  	justify-content: space-around;
  }
  .links {
	border: 1px solid #fff;  /* For debugging */
	display: flex;
	justify-content: flex-end;
  }
  